.facade{
  font-family: 'FacadeGX';/*on réutilise le nom choisi au sein du fichier font_liste.css*/
}

.ouvrieres{
  font-family: 'OuvrièresGX';
}

.fungal{
  font-family:'FungalGX';
  font-variation-settings: "grow" 800, "THCK" 800;
}

.movement{
  font-family: 'MovementV';
  font-variation-settings: "wght" 800;
}
  
.recursive{
  font-family: 'recursive';
}

.bricolage{
  font-family: 'BricolageGrotesque';
}

.handjet{
  font-family: 'handjet';
}

.sixtyhour{
  font-family: 'sixtyhour';
}

.tiny{
  font-family: 'tiny';
}
 

.mixal{
  font-family: 'mixal';
}
  
 
body{
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
 margin-left: 60px;
 background-color: #89ffd8;
}
 
main{
  cursor: url('../images/Cursos_fungal.svg') 8 8,auto;
  display: block;
  position: relative;
  width: 1800px;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-wrap : wrap;
}

h1{
  font-size: 150px;
  position: relative;
  color: #047965;
}
h2{
  width: 100%;
  font-size: 100px;
  margin-left: 25px;
  color: #3fa57e;
}
h3{
  font-size: 50px;
  margin-left: 35px;
}  

p{
  font-size: 18px;
  lighting-color: aquamarine;
  color: rgb(14, 104, 44);
  margin-top: 60px;
  margin-left: 35px;
}

.cont1{
  margin-top: 50px;
  width: 100%;
  height: 1000px;
  line-height: 25px;
  display: flex;             /* Utilise Flexbox pour aligner les enfants */
  justify-content: space-around;  /* Distribue les petits conteneurs avec de l'espace entre eux */
  align-items: flex-start;       /* Aligne verticalement au centre */
}

.cont2{
  width: 40%;                /* Définit la largeur pour le texte */
  padding: 20px;
}

.cont3{
  margin-top: 50px;
  width: 100%;
  height: 500px;
  line-height: 25px;
}

.contImage{
  margin-left: 50px;
  margin-top: 50px;
  opacity: 50%;
  width: 40%;
  display: flex;             /* Flexbox pour centrer l'image */
  justify-content: center;   /* Centrer horizontalement l'image */
  align-items: flex-end; 
  animation-name: planete_rotation;     /* Nom de l'animation */
  animation-duration: 2.2s;       /* Durée d'une rotation (5 secondes) */
  animation-iteration-count: infinite;  /* L'animation se répète infiniment */
  animation-timing-function: cubic-bezier();    /* La rotation est à vitesse constante */
}

.image-conteneur img{
  max-width: 100%;           /* L'image s'adapte à la taille du conteneur sans dépasser */
  height: auto;              /* Garde le ratio de l'image */
  

} 

.fungal_1{
  color: black;
}


#Attaque_furtive{
  font-size: 300px;
  mix-blend-mode: difference;
  animation-name: fungal_apparition;     /* Nom de l'animation */
  animation-duration: 13s;       /* Durée d'une rotation (5 secondes) */
  animation-iteration-count: 1;  /* L'animation se répète 1 fois */
  animation-timing-function: cubic-bezier();    /* La rotation est à vitesse constante */
  animation-fill-mode: both
}

#Surpris{
  z-index: -2;
  font-size: 300px;
  font-variation-settings: "wght" 500, "SPAC" 100;
  font-stretch: extra-condensed;
  position: sticky;
  animation-name: SurprisN;     /* Nom de l'animation */
  animation-duration: 3.5s;       /* Durée d'une rotation (5 secondes) */
  animation-iteration-count: infinite;  /* L'animation se répète 1 fois */
  animation-fill-mode: forwards;
}

.F1{
  margin-bottom: -50px;
  display: flex;
  opacity: 40%;
  position: sticky;
  font-size: 100px;
  animation-name: anim_F1;     /* Nom de l'animation */
  animation-duration: 3.5s;       /* Durée d'une rotation (5 secondes) */
  animation-iteration-count: infinite;  /* L'animation se répète 1 fois */
}



#Surpris:hover{
  z-index: 3;
  animation-name: SurprisH;     /* Nom de l'animation */
  animation-duration: 3.5s;       /* Durée d'une rotation (5 secondes) */
  animation-iteration-count: 1;  /* L'animation se répète 1 fois */
  animation-timing-function: cubic-bezier();   
  animation-fill-mode:forwards
}

.HM{
  font-size: 400px;
  z-index: -3;
  position:absolute;
  align-items: end;
  color: antiquewhite;
  animation-name: HM;     /* Nom de l'animation */
  animation-duration: 3.5s;       /* Durée d'une rotation  */
  animation-iteration-count: infinite;  
  animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1)
}

.HMSize2{
  margin-right: -350px;
  font-size: 150px;
  flex-direction: column;
  align-items: flex-end;
}



.FungalBasics{
  font-variation-settings: "GROW" 0, "wght" 100;
  z-index: 3;
}

.MovementBasics{
  font-variation-settings: "wght" 100, "SPAC" 100;
  z-index: 3;
  margin-bottom: 25px;
  margin-right: 25px;
}

.FungalBasics:hover{
  animation-name: _Grow;     /* Nom de l'animation */
  animation-duration: 2.5s;       /* Durée d'une rotation (5 secondes) */
  animation-iteration-count: infinite;  /* L'animation se répète 1 fois */
  animation-timing-function:cubic-bezier()
}

.MovementBasics:hover{
  animation-name: _Move;     /* Nom de l'animation */
  animation-duration: 2.5s;       /* Durée d'une rotation (5 secondes) */
  animation-iteration-count: infinite;  /* L'animation se répète 1 fois */
  animation-timing-function:cubic-bezier()
}

.IdleAnim{
  animation-name: IdleAnimation;     /* Nom de l'animation */
  animation-duration: 3s;       /* Durée d'une rotation  */
  animation-iteration-count: infinite; 
  animation-timing-function:cubic-bezier() 
}

#AGroup{
  margin-top: 50px;
  width: 100%;
  height: 500px;
  line-height: 25px;
  position: absolute;
}

.AAttack{
  font-size: 200px;

}

#flapflap{
  margin-top: 800px;
  color: rgb(176, 218, 255);
  margin-left: 850px;
  font-size: 100px;
  z-index: 5;
  position: absolute;
  animation-name: FlapFlap;     /* Nom de l'animation */
  animation-duration: 3.5s;       /* Durée d'une rotation  */
  animation-iteration-count: infinite; 
}

/*-------------------------------------ANIMATION----------------------------------------------*/

@keyframes planete_rotation{
  0% {
    opacity: 20%;
    transform: rotate(0deg);    /* Commence à 0 degrés */
  }
  85%{
    opacity: 100%;
  }
  100% {
    opacity: 20%;
    transform: rotate(360deg);  /* Termine à 360 degrés */
  }

}

@keyframes fungal_apparition{
  0%{
    text-shadow: 0 0 50px #f0f, 0 0 10px #f0f, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    border: none;
    margin-left: 0px;
    color: #3fa57e;
    opacity: 0%;
    font-variation-settings: "grow" 100, "THCK" 100;
  }
  70%{
    border: none;
    font-size: 300px;
    color: rgb(65, 65, 255);
    font-variation-settings: "grow" 500, "THCK" 500;
    text-shadow: none
  }
  100%{
   margin-left: 900px;
   font-size: 6000px;
   color: #280073;
   opacity: 100%;
   font-variation-settings: "grow" 1000, "THCK" 1000;
   text-shadow: 
   -50px -50px 0 rgb(255, 255, 255),  /* ombre en haut à gauche */
    1px -1px 0 rgb(255, 255, 255),  /* ombre en haut à droite */
   -1px  1px 0 rgb(255, 255, 255),  /* ombre en bas à gauche */
    1px  1px 0 rgb(255, 255, 255);  /* ombre en bas à droite */
   /* text-shadow: 0 0 50px #f0f, 0 0 100px #f0f, 0 0 200px #ff00ff, 0 0 300px #ff00ff;   marche mais LAG bcp trop.*/
 }

  }


  @keyframes SurprisN{
    0%{
      font-variation-settings: "wght" 500;
      color: rgb(31, 195, 255);
    }

    50%{
      color: rgb(90, 13, 255);
      font-variation-settings: "wght" 100, "SPAC" 100;
    }

    85%{
      color: rgb(255, 255, 255);
      font-variation-settings: "wght" 900, "SPAC" 120;

    }

    100%{
      color: rgb(255, 0, 0);
      font-variation-settings: "wght" 500 "SPAC" 100;
    }

   }



   @keyframes SurprisH{
    0%{
      font-variation-settings: "wght" 500;
      color: red;
    }

    50%{
      font-variation-settings: "wght" 100, "SPAC" 100;
      color: white;
    }

    70%{
      font-size: 600px;
      font-variation-settings: "wght" 900, "SPAC" 120;
      color: red;
    }

    80%{
      transform: perspective(400px) rotateY(45deg);
      color: white;
    }  

    95%{
      transform: perspective(400px) rotateY(45deg);
    }


    
    100%{
      transform: perspective(200px) rotateY(0deg);
      color: rgb(255, 0, 0);
  }
}

  @keyframes HM{
    0%{
      margin-top: 0px;
      margin-left: 0px;
      transform: rotate(0deg);
      color: #ffffff;
    }

    20%{
      font-variation-settings: "wght" 900, "SPAC" 120;
      margin-top: -50px;
      margin-left: -30px;
      color: #1500ff;
    }
    30%{
      font-variation-settings: "wght" 500;
      rotate: 0%;
      margin-top: 50px;
      color: rgb(123, 0, 255);

    }

    40%{
      rotate: 25%;
      margin-top: -50px;
      transform: rotate(2deg);
      color: rgb(255, 255, 255);
    }

    50%{
      font-variation-settings: "wght" 900, "SPAC" 120;
      rotate: 75%;
      margin-top: 50px;
      transform: rotate(-2deg);
      color: blue;
    }
    60%{
      font-variation-settings: "wght" 500;
      rotate: 0%;
      margin-top: -50px;
      transform: rotate(2deg);
      color: rgb(255, 255, 255);
    }

    70%{
      rotate: 25%;
      margin-top: 50px;
      transform: rotate(-2deg);
      color: rgb(0, 64, 255);
    }

    80%{
      font-variation-settings: "wght" 900, "SPAC" 120;
      rotate: 75%;
      margin-top: -50px;
      margin-left: 1000px;
      transform: rotate(-110deg);
      color: rgb(255, 41, 22);
    }

    100%{
      rotate: 90%;
      margin-top: 0px;
      margin-left: 0px;
      transform: rotate(0deg);
      color: rgb(255, 255, 255);
    }
  }

  @keyframes anim_F1{
    0%{
      color: white;
     font-variation-settings: "grow" 100, "THCK" 100;
      opacity: 40%;
     margin-left: 20px;
     
    }
    20%{
      font-variation-settings: "grow" 800, "THCK" 800;
      color: #5829ae;
      opacity: 20%;
      margin-left: 200px;
      margin-top: 50px;
    }
    50%{
      font-variation-settings: "grow" 100, "THCK" 100;
      opacity: 70%;
      color: #ffffff;
    }
    
    80%{
      opacity: 20%;
      color: rgb(185, 100, 255);
    }

    100%{
      margin-top: 0px;
      opacity: 40%;
      color: #ffffff;
    }
  }

@keyframes IdleAnimation{  
  0%{
    color: black;
    opacity: 100%; 
}
50%{
  color: red;
  opacity: 50%; 
}

100%{opacity: 100%; color: black;}
}

@keyframes _Grow{
  0%{font-variation-settings:"grow" 0, "THCK" 100 ;}
  100%{font-variation-settings:"grow" 1000, "THCK" 1000 ;}
}

@keyframes _Move{
 0%{font-variation-settings: "wght" 100, "SPAC" 100;}
 100%{font-variation-settings: "wght" 900, "SPAC" 120;}
}

@keyframes FlapFlap{
  0%{color:rgb(176, 218, 255);font-size: 100px; transform: rotateX(0deg);font-variation-settings:"grow" 0, "THCK" 100 ; margin-top: 800px ; margin-left: 850px;}
  5%{font-size: 110px;transform: rotateX(30deg);font-variation-settings:"grow" 500, "THCK" 500 ;}
  10%{font-size: 100px;transform: rotateX(0deg);font-variation-settings:"grow" 0, "THCK" 100 ;}
  15%{font-size: 110px;transform: rotateX(30deg);font-variation-settings:"grow" 500, "THCK" 500 ;}
  20%{font-size: 100px;transform: rotateX(0deg);font-variation-settings:"grow" 0, "THCK" 100 ;}
  65%{color:rgb(176, 218, 255)}
  78%{color:rgb(255, 0, 0) ;font-size: 110px;transform: rotateX(180deg);font-variation-settings:"grow" 1000, "THCK" 1000 ; margin-top: 800px ; margin-left: 850px;}
  100%{margin-top: -800px ; margin-left: -850px;}
}